@model Activities

<div class="single_study text-center">
    <div class="thumb" style="display: block">
        <a style="display: block">
            <img src="~/img/@Model.Image" alt="">

        </a>
    </div>
    <div class="subheading" style="text-align: left">
        <h4 class="text-article-title pr-20 pl-20">@Model.Tittle</h4>
        <p class="text-article-content pr-20 pl-20">@Model.Description</p>
    </div>
    @*<a asp-controller="home" asp-action="ActivitiesDetails" asp-route-detail="@Model.Url"><h4 style="color:black">İçerik</h4></a>*@

</div>
           